<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/flights/show.css" />
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <section>
    <div>Airline:</div>
    <div>
      <%= flight.airline %>
      <a href="/flights/<%= flight._id %>/edit">
        <button>Edit Flight</button>
      </a>
    </div>
    <div>Airport:</div>
    <div><%= flight.airport %></div>
    <div>Flight Number:</div>
    <div><%= flight.flightNo %></div>
    <div>Departs:</div>
    <div><%= flight.departs %></div>
  </section>

  <h2>Ticket Details</h2>
  <% if (flight.tickets.length) { %>
    <table>
      <thead>
        <tr>
          <th>Seat</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody></tbody>
        <% flight.tickets.forEach(function(flight) { %>
          <tr>
            <td><%= flight.seat %></td>
            <td><%= flight.price %></td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  <% } else { %>
    <h3>No Seats Selected</h3>
  <% } %>
  <form
    id="add-ticket-form"
    action="/flights/<%= flight._id %>/tickets"
    method="POST"
  >
    <label for="seat-input">Seat:</label>
    <input name="seat" required pattern="[A-F][1-9]\d?">
    <button>Save Seat</button>
  </form>

<%- include('../partials/footer') %>