<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/flights/show.css" />
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <section>
    <div>Airline:</div>
    <div>
      <%= flight.airline %>
      <a href="/flights/<%= flight._id %>/edit">
        <button>Edit Flight</button>
      </a>
    </div>
    <div>Airport:</div>
    <div><%= flight.airport %></div>
    <div>Flight Number:</div>
    <div><%= flight.flightNo %></div>
    <div>Departs:</div>
    <div><%= flight.departs %></div>
    <ul>
      <% flight.meals.forEach(meal => { %>
        <li><%= meals.name %></li>
      <% }) %> 
    </ul>
  </section>

  <form action="/flights/<%= flight._id %>/meals" method="POST">
    <select name="mealId">
      <% mealsNotSelected.forEach(meal => { %>
        <option value="Poptarts">Poptarts</option>
        <option value="Veggie Sandwhich">Veggie Sandwhich</option>
        <option value="Cheese Pizza">Cheese Pizza</option>
        <option value="Chicken Sandwhich">Chicken Sandwhich</option>
        <option value="Cheeseburger">Cheeseburger</option>
        <option value="Tomato Basil Soup">Tomato Basil Soup</option>
      <% }) %>
    </select>
    <button type="submit">ADD MEALS</button> 
  </form>

  <h2>Ticket Details</h2>
  <% if (flight.tickets.length) { %>
    <table>
      <thead>
        <tr>
          <th>Seat</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody></tbody>
        <% flight.tickets.forEach(function(flight) { %>
          <tr>
            <td><%= flight.seat %></td>
            <td>$<%= flight.price %></td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  <% } else { %>
    <h3>No Seats Selected</h3>
  <% } %>
  <form
    id="add-ticket-form"
    action="/flights/<%= flight._id %>/tickets"
    method="POST"
  >
    <label for="seat-input">Seat:</label>
    <input name="seat" placeholder="A1-F99"required pattern="[A-F][1-9]\d?">
    <label for="price-input">Price: $</label>
    <input name="price" type="number" value="100" min="100" max="200" required>
    <button>Save Seat</button>
  </form>

<%- include('../partials/footer') %>